---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const { post } = Astro.params
const allPosts = await getCollection("posts")

const blog = allPosts.find((p)=>{
    return p.id === post
})
const { data } = blog ? blog : {}
const { title,description,date } = data

const { Content } = blog && await render(blog)

const allTitles = allPosts.map((p)=>{
    if(title !== p.data.title){
        return p
    }
})
---

<Layout
    title={`${title} | Blog en Asmodeo Escort Vips`}
    description={description}
    canonical={`blog/${post}`}
>
    <main aria-label="Post del Blog Asmodeo.net" >
        <section>
            <img src={data ? data.image : ''} alt="" transition:name="blog_cover">
            <header aria-label="Cabecera de post" >
                <h1 aria-label="Título del post" >{data ? data.title : null}</h1>
                <p aria-label="Descripción del post" >{data ? data.description : null}</p>
            </header>
            <article aria-label="Artículo del post" >
                <Content/>
                <p aria-label="Fecha del post" class="date_post" >{date}</p>
            </article>
            <div class="container_related" aria-label="Links a otros post de Asmodeo.net" >
                <h4 aria-label="Título de links a otros post de Asmodeo.net" >OTRAS ENTRADAS</h4>
                <div class="box_related">
                    {
                        allTitles?.map(p =>(
                            <a aria-label={`Link a post ${p?.data.title}`} href={p?.id} >
                                {p?.data.title}
                            </a>
                        ))
                    }
                </div>
            </div>
        </section>
    </main>
</Layout>

<style>
    main{
        display: grid;
        place-items: center;
        padding-block: 100px;
    }
    header{
        padding-inline: 8px;
    }
    .date_post{
        font-size: 10px;
    }
    section{
        display: grid;
        align-items: flex-start;
        justify-content: center;
        width: 800px;
        gap: 20px;
    }
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        aspect-ratio: 2/1;
        object-position: top;
    }
    h1{
        font-family: 'Poppins-ex-italic',sans-serif;
        font-size: 30px;
    }
    p{
        font-size: 18px;
    }
    .container_related{
        display: grid;
        border-top: solid 1px var(--primary);
    }
    .box_related{
        grid-template-columns: repeat(3,1fr);
    }
    .box_related > a{
        font-size: 10px;
    }
    .box_related > a:hover{
        color: var(--action);
    }

    @media
        (width < 700px){
            section{
                width: 350px;
            }
            img{
                height: 350px;
            }
        }
</style>